#container {
  border: 2px solid;
}
#container p {
  background-color: yellow;
}
#container > p {
  background-color: cyan;
}
#container ~ p {
  background-color: tomato;
}
#container + p {
  background-color: violet;
}
